/* RESET SELECTOR */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.error {
   color: red;
}

/* Navbar styles */
nav a {
   color: #E57F4D;
}

nav a:hover, .current {
   color: orange;
}

#navbarContainer #caricon {
   height: 60px;
}

#navbarContainer #loginBtn {
   background-color: #E57F4D;
   border: none;
}

#navbarContainer #loginBtn:hover {
   color: lightgray;
   background-color: c1673e;
}


/* footer styles */
footer {
   overflow: auto;
   width: 100%;
   color: white;
 }

 /* showcase styles */

 #showcaseContainer {
    background: url('../images/carBackground.jpeg') no-repeat center center;
    overflow: auto;
 }

 #showcaseText {
   background-color: rgba(0,0,0,0.7);
   color: white;
 }


 /* view styles */
#viewComponentContainer {
   background-color: #E57F4D;
}

#viewComponentContainer #tableContainer {
   color: white;
}

#viewComponentContainer #searchContainer {
   overflow: auto;
}


 /* Add styles */
 #addContainer #addFormContainer {
    color: white;
 }

 #addContainer #addFormBtn {
    background-color: #E57F4D;
    border-color: #E57F4D;
 }

 #addContainer #addFormBtn:hover {
   color: lightgray;
   background-color: c1673e;
 }

 #addComponentContainer {
    background-color: #E57F4D;
    overflow: auto;
 }
