/* RESET SELECTOR */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Navbar styles */
nav a {
   color: #E57F4D;
}

nav a:hover {
   color: orange;
}

#navbarContainer #caricon {
   height: 60px;
}

#navbarContainer #loginBtn {
   background-color: #E57F4D;
   border: none;
}

#navbarContainer #loginBtn:hover {
   color: lightgray;
   background-color: c1673e;
}


/* footer styles */
footer {
   overflow: auto;
   width: 100%;
   color: white;
 }

 /* showcase styles */

 #showcaseContainer {
    background: url('../images/carBackground.jpeg') no-repeat center center;
    overflow: auto;
 }

 #showcaseText {
   background-color: rgba(0,0,0,0.7);
   color: white;
 }


 /* view styles */
#viewComponentContainer {
   background-color: #E57F4D;
}


 /* Add styles */